/* html, body {
    margin: 0;
    padding: 0;
} */
/* :root {
    --hcolor:black;
    --gridHeight: 10;
    --gridWidth: 10;
} */
* {
    color: white;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
body {
    background-color: #1d1d1d;
}
#grid-container {
    display: grid;
    justify-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

#grid-container > * {
    margin: 1px;
}
#grid-container > button {
    cursor: pointer;
    font-size: 2rem;
    border: 0px solid black;
    outline: none;
    background-color: #3f3f3f;
}
#grid-container > button:hover {
    background-color: #6e6e6ea9;
}
.output {
    grid-column: 1 / -1;
    background-color: #2e2e2e;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.big-button {
    grid-column: span 2;
}